.logo { display:block; background:url('/mrcjava/mrcclasses/NFL/NFLLogos/allTeams.png') no-repeat; }
.gbp { background-position:-0px -0px; width:43px; height:60px; }
.nyg { background-position:-43px -0px; width:43px; height:60px; }
.bal { background-position:-86px -0px; width:43px; height:60px; }
.car { background-position:-129px -0px; width:43px; height:60px; }
.buf { background-position:-172px -0px; width:43px; height:60px; }
.phi { background-position:-0px -60px; width:43px; height:60px; }
.nep { background-position:-43px -60px; width:43px; height:60px; }
.nos { background-position:-86px -60px; width:43px; height:60px; }
.stl { background-position:-129px -60px; width:43px; height:60px; }
.det { background-position:-172px -60px; width:43px; height:60px; }
.pit { background-position:-0px -120px; width:43px; height:60px; }
.dal { background-position:-43px -120px; width:43px; height:60px; }
.was { background-position:-86px -120px; width:43px; height:60px; }
.ind { background-position:-129px -120px; width:43px; height:60px; }
.ari { background-position:-172px -120px; width:43px; height:60px; }
.mia { background-position:-0px -180px; width:43px; height:60px; }
.kcc { background-position:-43px -180px; width:43px; height:60px; }
.min { background-position:-86px -180px; width:43px; height:60px; }
.cle { background-position:-129px -180px; width:43px; height:60px; }
.chi { background-position:-172px -180px; width:43px; height:60px; }
.atl { background-position:-0px -240px; width:43px; height:60px; }
.sfo { background-position:-43px -240px; width:43px; height:60px; }
.oak { background-position:-86px -240px; width:43px; height:60px; }
.nyj { background-position:-129px -240px; width:43px; height:60px; }
.sea { background-position:-172px -240px; width:43px; height:60px; }
.sdc { background-position:-0px -300px; width:43px; height:60px; }
.hou { background-position:-43px -300px; width:43px; height:60px; }
.jac { background-position:-86px -300px; width:43px; height:60px; }
.ten { background-position:-129px -300px; width:43px; height:60px; }
.cin { background-position:-172px -300px; width:43px; height:60px; }
.den { background-position:-0px -360px; width:43px; height:60px; }
.tbb { background-position:-43px -360px; width:43px; height:60px; }
