.admin-logs {

  nav {
    padding-right: 15px;
  }

  .admin-logs-table {

    th,
    td {
      background-color: rgba(255, 255, 255, 0.85);
    }

    th {

      .filter {

        button {
          border: none;
          background: transparent;
          font-weight: bold;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .admin-logs {

    nav {
      padding-right: 0;
    }
  }
}
