.admin-wrapper {

  .admin-users-table {

    th,
    td {
      background-color: rgba(255, 255, 255, 0.85);
    }

    i {
      cursor: pointer;

      &.mark-unpaid {
        color: green;
      }

      &.mark-paid {
        color: red;
      }

      &.survivor {
        color: green;
      }

      &.no-survivor {
        color: black;
      }

      &.add-bonus {
        color: blue;
      }

      &.remove-bonus {
        color: red;
      }

      &.not-admin {
        color: black;
      }

      &.is-admin {
        color: green;
      }
    }
  }
}
