// Styling for screens over mobile
@media (min-width: 851px) {
  .login-stretch {

    .signin-form {
      position: relative;
      border: 1px solid black;
      border-radius: 5px;
      background-color: #F5F5F7;
      padding: 60px 30px 30px 30px;
      margin: 10% auto;
    }

    .ball-logo-parent {
      position: relative;
    }

    .ball-logo {
      width: 200px;
      position: absolute;
      top:-175px;
      left: 50%;
      margin-left: -86px;
    }

    .login-title {
      margin-top:40px;
      margin-bottom: 20px;
    }
  }
}

// Styling for portrait tablet
@media (min-width: 675px) and (max-width: 850px) {
  .login-stretch {

    .signin-form {
      position: relative;
      border: 1px solid black;
      border-radius: 5px;
      background-color: #F5F5F7;
      padding: 60px 30px 30px 30px;
      margin: 25% auto;
    }

    .ball-logo-parent {
      position: relative;
    }

    .ball-logo {
      width: 200px;
      position: absolute;
      top:-175px;
      left: 50%;
      margin-left: -86px;
    }

    .login-title {
      margin-top:40px;
      margin-bottom: 20px;
    }
  }
}

// Styling for mobile screens
@media (max-width: 674px) {
  #react-root,
  #react-root > .row,
  .login-stretch {
    height: 100%;
  }

  .login-stretch {

    .signin-form {
      box-sizing: border-box;
      position: relative;
      border: none;
      background-color: #F5F5F7;
      padding: 162px 30px 30px 30px;
      margin: 0 auto;
      height: 100%;
      overflow: auto;
    }

    .ball-logo-parent {
      position: relative;
      margin-bottom: 15px;
    }

    .ball-logo {
      width: 145px;
      position: absolute;
      top:-149px;
      left: 50%;
      margin-left: -65px;
    }

    .login-title {
      margin-bottom: 20px;
    }
  }
}

.login-stretch {

  .login-form {
    margin-top: 20px;
  }

  .reg-switch-button {
    background-color: gray;
    color: white;
    font-weight: bold;
  }
}
