@import '{}/node_modules/bootstrap/scss/bootstrap.scss';

label.error {color: #C9302C;}

body {
  background-image: url('/bkgd-pitch.png');
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

.flex-container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
}

.signin-form {
  position: relative;
  border: black;
  border-radius: 5px;
  background-color: #F5F5F7;
  padding: 60px 30px 30px 30px;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 450px;
}

.white-box {
  position: relative;
  border: black;
  border-radius: 5px;
  background-color: #F5F5F7;
  padding: 60px;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 450px;
}

.load-screen {
  opacity: 0.1;
}

.title-text {
  margin-top:40px;
  margin-bottom: 20px;
}

.reg-btns {
  margin-bottom:10px;
}

.login-form {
  margin-top: 20px;
}

.btn-social {
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}
.btn-google {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0,0,0,0.2);
}

.bottom-wrapper {
  border-top: solid 1px #ccc;
  padding-top: 10px;
}

.ball-logo {
  width: 200px;
  position: absolute;
  top:-121px;
  left: 133px;
}

.bottom-text {
  padding-bottom: 11px;
  font-size: small;
}

.points {
  background-color: #FFF;
  border: 1px solid #000;
  display: inline;
  margin: 0 2px;
  padding: 0 15px;
}
