@import '{}/node_modules/bootstrap/scss/bootstrap.scss';

/* Global */
html, body {
  height: 100%;
}

label.error {
  color: #C9302C;
}

@media (min-width: 675px) {
  body {
    background-image: url('/bkgd-pitch.png');
    background-repeat: no-repeat;
    background-color: #000;
    background-size: cover;
  }
}

@media (max-width: 674px) {
  body {
    background-color: #000;
  }
}

.white-box {
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F5F5F7;
  margin: 10% auto;
  float: none;
  padding: 60px;
}

.logout-box {
  .row {
    margin-bottom: 20px;
  }
}

.load-screen {
  opacity: 0.1;
}

.title-text {
  color: #ECEEEF;
  padding-left: 30px;
  padding-top: 5px;
}

.reg-btns {
  margin-bottom:10px;
}

.btn-social {
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 7px;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}
.btn-google {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0,0,0,0.2);
}

.bottom-wrapper {
  border-top: solid 1px #ccc;
  padding-top: 10px;
}

.bottom-text {
  padding-bottom: 11px;
  font-size: small;
}

.print-page {
  margin-bottom: 5px;
}

@media print {
  .container-fluid {

    div.col-xs-10.hidden-xs-down.col-sm-3.col-lg-2.sidebar {
      display: none;
    }

    div.col-xs-12.col-sm-9.offset-sm-3.col-lg-10.offset-lg-2.main {
      width: 100%;
      margin-left: 0;

      button.btn {
        display: none;
      }

      .view-pick-results-table {
        page-break-inside: avoid;
      }
    }
  }
}

// Removed for auto import
//@import 'Login';
//@import 'AdminUsers';
//@import 'ViewAllPicks';
//@import 'Dashboard';
//@import 'EditProfile';
//@import 'NotFound';
//@import 'ViewPicks';
//@import 'SetSurvivor';
//@import 'ViewSurvivor';
//@import 'MakePicks';
//@import 'AuthedLayout';
//@import 'RightSlider';
