@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

/* Global */
html,
body {
  height: 100%;
}

label.error {
  color: #c9302c;
}

@media (min-width: 675px) {
  body {
    background-image: url("/bkgd-pitch.png");
    background-repeat: no-repeat;
    background-color: #000;
    background-size: cover;
  }
}

@media (max-width: 674px) {
  body {
    background-color: #000;
  }
}

.white-box {
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f5f5f7;
  margin: 10% auto;
  float: none;
  padding: 60px;
}

.logout-box {
  .row {
    margin-bottom: 20px;
  }
}

.load-screen {
  opacity: 0.1;
}

.title-text {
  color: #eceeef;
  padding-left: 30px;
  padding-top: 5px;
}

.reg-btns {
  margin-bottom: 10px;
}

.btn-social {
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 7px;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}

.bottom-wrapper {
  border-top: solid 1px #ccc;
  padding-top: 10px;
}

.bottom-text {
  padding-bottom: 11px;
  font-size: small;
}

.print-page {
  margin-bottom: 5px;
}

.show-for-print {
  display: none;
}

@media print {
  .ml-print-0 {
    margin-left: 0 !important;
  }

  .container-fluid {
    div.col-12.col-sm-9.col-lg-10.main {
      width: 100%;
      margin-left: 0;

      .view-pick-results-table {
        page-break-inside: avoid;
      }

      .show-for-print {
        display: inline-block;
      }
    }
  }
}

// Fontawesome for Bert
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(https://use.fontawesome.com/releases/v5.10.2/webfonts/fa-regular-400.eot);
  src: url(https://use.fontawesome.com/releases/v5.10.2/webfonts/fa-regular-400.eot?#iefix)
      format("embedded-opentype"),
    url(https://use.fontawesome.com/releases/v5.10.2/webfonts/fa-regular-400.woff2)
      format("woff2"),
    url(https://use.fontawesome.com/releases/v5.10.2/webfonts/fa-regular-400.woff)
      format("woff"),
    url(https://use.fontawesome.com/releases/v5.10.2/webfonts/fa-regular-400.ttf)
      format("truetype"),
    url(https://use.fontawesome.com/releases/v5.10.2/webfonts/fa-regular-400.svg#fontawesome)
      format("svg");
}
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.fa-check:before {
  content: "\f00c";
}
.fa-thumbs-up:before {
  content: "\f164";
}
