$pointBankWidth: 75px;
$footerHeight: 60px;
$footerHeightLarge: 120px;


@media (min-width: 675px) {
  .make-picks-wrapper {

    .points {
      background-color: #FFF;
      border: 1px solid #000;
      list-style-type: none;
      padding: 4px 0;

      &.disabled {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 674px) {
  .make-picks-wrapper {

    .points {
      background-color: #FFF;
      border: 1px solid #000;
      list-style-type: none;
      padding: 2px 0;

      &.disabled {
        opacity: 0.5;
      }
    }
  }
}

.make-picks-wrapper {

  .pointBank {
    width: $pointBankWidth * 2;
    padding-left: 0;
    position: fixed;
    z-index: 1;
    min-height: 34px;
    border: 1px dashed white;
    background-color: rgba(255, 255, 255, 0.45);
  }

  .makePickTable,
  .tiebreakerTable {
    width: 75%;
    margin-left: ($pointBankWidth * 2) + 20px;
    background-color: rgba(255, 255, 255, .85);

    .homePoints ul,
    .visitorPoints ul {
      background-color: #CCC;
      width: $pointBankWidth;
      height: 34px;
      border: 1px solid #AAA;
      padding-left: 0;
    }

    tr {
      &.disabled {
        background-color: red;
        opacity: 0.5;
      }

      &.done {
        background-color: green;
      }
    }
  }

  .tiebreakerTable {
    margin-bottom: $footerHeight + 10px;
  }

  .pick-buttons {
    position: fixed;
    bottom: 0;
    background-color: #ddd;
    display: flex;
    justify-content: space-around;
    height: $footerHeight;
    z-index: 2;

    &.large {
      height: $footerHeightLarge;
    }

    .btn {
      margin: 10px 0;
    }
  }

  @media (max-width: 767px) {
    .pointBank {
      width: $pointBankWidth;
      margin-left: -9px;

      .points {
        padding:2px 0;
      }
    }

    .makePickTable,
    .tiebreakerTable {
      margin-left: 72px;
      width: 81%;

      td {

        .row {
          display: flex;
          flex-flow: row wrap;

          &:before,
          &:after {
            content: normal;
          }

          .col-xs-6 {

            &:before,
            &:after {
              content: normal;
            }

            &.homePoints {
              order: 5;

              ul {
                margin: 0 auto;
              }
            }

            &.homeLogo {
              order: 3;
            }

            &.homeName {
              order: 1;
            }

            &.visitorName {
              order: 2;
            }

            &.visitorLogo {
              order: 4;
            }

            &.visitorPoints {
              order: 6;

              ul {
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {

    .pointBank {

      .points {
        width: 50%;
      }
    }
  }
}
