.set-survivor-wrapper {
  .side-bar {
    position: fixed;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-bottom: -5px;

    .survivor-logo {
      width: 60px;
      height: 60px;
      background-color: #ccc;
      margin-right: 5px;
      margin-bottom: 5px;
      position: relative;

      .when-picked {
        position: absolute;
        bottom: 2px;
        right: 2px;
      }

      .used {
        opacity: 0.25;
      }
    }
  }

  .set-survivor-table {
    background-color: rgba(255, 255, 255, 0.85);

    .is-picked {
      margin-bottom: 10px;
    }
  }
}
