.team-hover {
  white-space: nowrap;
  box-shadow: 2px 2px 5px #000;
  border-radius: 8px;
  border-collapse: separate;
  border: 2px solid;
  z-index: 2;
  background-color: white;

  &.team-loading {
    min-width: 300px;
    min-height: 175px;
    text-align: center;
  }

  .history-separator {
    border-bottom: 1px dashed;
  }

  .did-win {
    color: #0f0;
  }

  .did-tie {
    color: #000;
  }

  .did-lose {
    color: #f00;
  }
}
