.view-all-picks-wrapper {

  .reset-picks {
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .view-all-picks-table {
    border: 1px solid #ccc;
    border-collapse: collapse;

    th,
    td {
      background-color: rgba(255, 255, 255, 0.85);
    }

    thead {

      th {
        vertical-align: middle;

        &.info-head {
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
        }

        &.home-team,
        &.visiting-team {
          padding: 0;

          & > * {
            transform: rotate(90deg);
          }

          .btn-default {
            border-color: #999;
          }
        }
      }
    }

    .my-user {
      background-color: yellow;
    }

    .home-team {
      border-right: 1px solid #ccc;
    }

    .visiting-team {
      border-left: 1px solid #ccc;
    }

    .name-cell {
      white-space: nowrap;
      border: 1px solid #ccc;
    }

    .pick-points {
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }
  }
}
