.view-payments-wrapper {

  .view-payments {
    position: relative;
    background-color: rgba(255, 255, 255, .85);
    margin: 1% auto;
    padding: 20px 15px 40px 15px;
    border-radius: 5px;
  }
}
