@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$text-color: white;
$background-color: black;

html,
body {
  height: 100%;
  width: 100%;
}

#email-content {
  box-sizing: inherit;
  //height: 100%;
  background-color: $background-color;
  padding: 5em 17em;
}

h1,
p,
ul,
li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: $text-color;
  mix-blend-mode: difference;
}

p {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

h1 {
  margin-bottom: .5em;
}

.preview-text {
  display: none;
  max-height: 0;
  overflow: hidden;
}
