@import '../../node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;
  width: 100%;
}

.email-content {
  height: 100%;
  box-sizing: inherit;
}

.email-inner-content {
  position: relative;
  background-color: #F5F5F7;
  box-sizing: border-box;
  text-align: left;
  //height: 100%;
}

.ball-logo-parent {
  position: relative;
}

.ball-logo {
  position: absolute;
  left: 33%;
}

h1,
p,
ul,
li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: black;
}

p {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

h1 {
  margin-bottom: .5em;
}

.preview-text {
  display: none;
  max-height: 0;
  overflow: hidden;
}

.quick-pick-buttons {
  text-align: center;
}

.tag-at {
  font-size: 18px;
}
