@media (min-width: 675px) {
  #email-content {
    background-image: url('http://nfl.asitewithnoname.com/bkgd-pitch.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 674px) {
  #email-content {
    background-color: black;
    color: red;
  }
}
