/*Styling for screens over mobile*/
@media (min-width: 675px) {
  #email-content {
    background-image: url('http://nfl.asitewithnoname.com/bkgd-pitch.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

   .signin-form {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F5F5F7;
    padding: 60px 30px 30px 30px;
    margin: 10% auto;
    float: none;
    text-align: center;
  }

  .login-stretch .ball-logo-parent {
          position: relative;
  }

  .login-stretch .ball-logo {
    width: 200px;
    position: absolute;
    top:-175px;
    left: 50%;
    margin-left: -86px;
  }

  .login-stretch .login-title {
    margin-top:40px;
    margin-bottom: 20px;
  }
}

@media (max-width: 674px) {
  #email-content {
    background-color: black;
  }

  #react-root, #react-root > .row, .login-stretch {
    height: 100%;
  }

  .login-stretch .signin-form {
    position: relative;
    border: none;
    background-color: #F5F5F7;
    padding: 162px 30px 30px 30px;
    margin: 0 auto;
    float: none;
    height: 100%;
    overflow: auto;
    text-align: center;
  }

  .login-stretch .ball-logo-parent {
    position: relative;
    margin-bottom: 15px;
  }

  .login-stretch .ball-logo {
    width: 145px;
    position: absolute;
    top:-149px;
    left: 50%;
    margin-left: -65px;
  }

  .login-stretch .login-title {
    margin-bottom: 20px;
  }
}

.login-stretch .login-form {
  margin-top: 20px;
}


