.dashboard-layout {
  margin-top: 10px;

  .my-rank {
    position: absolute;
    top: 85px;
    left: 145px;
  }

  .can-sort {
    cursor: pointer;
  }

  .my-place {
    background-color: yellow;
  }
}
