<p>Hello,<br />&nbsp;</p>

<p>This is a notification that the following {{ messages.length }} games were found in week {{ week }} that could not be auto fixed:</p>

<ul>
	{{#each message in messages}}
	<li>Game: {{ message.game }}
		<ul>
			<li>{{ message.reason }}</li>
		</ul>
	</li>
	{{/each}}
</ul>

<p>These will need to be manually fixed in MongoDB. You can also click below to view all API calls for this week.<br />&nbsp;</p>

<a href="{{ poolURL }}/admin/api" class="btn btn-primary">View API Calls</a>
