<h1>Quick {{ firstName }}!</h1>

<p>You have not made your pick for game 1 of week {{ week }} yet and you now have less than {{ hours }} hours.</p>

<p>You can avoid losing points for this game by simply clicking one of the teams below to set your pick.</p>

<p><strong>Note:</strong> This email is only good up until kickoff of this game, so act now to avoid losing points for this week!</p>

<div class="quick-pick-buttons">
  <a href="https://nfl.asitewithnoname.com/quick-pick/{{ userId }}/{{ teamShort1 }}" class="btn btn-team" style="background-color: {{ team1Color1 }}; border-color: {{ team1Color1 }}; color: {{ team1Color2 }};">{{ teamName1 }}</a>
  <span class="tag tag-success tag-at">@</span>
  <a href="https://nfl.asitewithnoname.com/quick-pick/{{ userId }}/{{ teamShort2 }}" class="btn btn-team" style="background-color: {{ team2Color1 }}; border-color: {{ team2Color1 }}; color: {{ team2Color2 }};">{{ teamName2 }}</a>
</div>








