<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>New User Welcome Email</title>
</head>
<body>
  <h1>{USER}!</h1>

  <p>Quick! Make a pick for Thursday Night's game below.</p>
<div>
  <a href="[team1]" class="btn btn-success">[Team 1]</a>
  <a href="[team2]" class="btn btn-success">[Team 2]</a>
</div>
</body>
</html>







