<h1>Quick {{ firstName }}!</h1>

<p>You have not made your pick for game 1 of week {{ week }} yet and you now have less than {{ hours }} hours.</p>

<p>You can avoid losing points for this game by simply clicking one of the teams below to set your pick.</p>

<p><strong>Note:</strong> This email is only good up until kickoff of this game, so act now to avoid losing points for this week!</p>

<div>
  <a href="https://nfl.asitewithnoname.com/quick-pick/{{ userId }}/{{ teamShort1 }}" class="btn btn-primary">{{ teamName1 }}</a>
  <span class="tag tag-success">@</span>
  <a href="https://nfl.asitewithnoname.com/quick-pick/{{ userId }}/{{ teamShort2 }}" class="btn btn-info">{{ teamName2 }}</a>
</div>








