<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>New User Welcome Email</title>
</head>
<body>
  <h1>Hi [user],</h1>
  <p>Welcome to the [lastUpdatedYear] NFL Confidence Pool. Thank you for signing up and good luck this season!</p>
  <p>Your credentials for signing in:</p>

  <p>email: [email]</p>
  <p>password: [password]</p>

  <p>Remember to submit your picks before kickoff of the Thursday night game. If you do not, your highest point value is automatically used for that game.</p>

  <p>Go to the 'Edit Profile' page to set a reminder notification before the Thursday night game.</p>

  <a href="http://nfl.asitewithnoname.com" class="btn btn-success">Go to the Pool Here </a>
</body>
</html>
