
  <h1>Hi [user],</h1>
  <p>Welcome to the [lastUpdatedYear] NFL Confidence Pool. Thank you for signing up and good luck this season!</p>
  <p>Your credentials for signing in:</p>

  <p>email: [email]</p>
  <p>password: [password]</p>

  <p>Remember to submit your picks before kickoff of the Thursday night game. If you do not, your highest point value is automatically used for that game.</p>

  <p>Go to the 'Edit Profile' page to set a reminder notification before the Thursday night game.</p>

  <a href="https://nfl.asitewithnoname.com" class="btn btn-success">Go to the Pool Here </a>

