.back
{
	background-color:transparent;
	color:#000;
	font:normal 8pt verdana;
}

body
{
	font:normal 8pt verdana;
	height:100%;
	line-height:1;
	margin:0;
}

th
{
	background:linear-gradient(tobottom,#ffffff0%,#DADADA100%);
	border:0 solid #000;
	color:#000;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#DADADA');
	font:bold 9pt verdana;
	padding:7px;
	vertical-align:middle;
}

.th_left,.td_left
{
	text-align:left;
}

.th_right,.td_right
{
	text-align:right;
}

.one,.two,.ten,.nine
{
	border:1px solid #DFDFDF;
	font:normal 8pt verdana;
	padding:3px 7px;
	vertical-align:middle;
}

.odd
{
	background:#E8EEF7;
	color:#230100;
}

.even
{
	background:#fff;
	color:#230100;
}

.single .one
{
	background:#E8EEF7;
	color:#230100;
	font-size:8pt;
	padding:3px;
}

.single .two
{
	background:#fff;
	color:#230100;
	font-size:8pt;
	padding:3px;
}

.nine
{
	background:#DFDFDF;
}

.s1,.s2,.s3,.s4,.s5,.s6,.grand,.ten
{
	border:1px solid #959595;
	font:normal 8pt verdana;
	padding:3px 7px;
}

.detailBackground
{
	background:#fff;
	color:#000;
}

.sub1Background
{
	background:#cbdbe6;
	color:#000;
}

.sub2Background
{
	background:#E8EEF7;
	color:#000;
}

.sub3Background
{
	background:#e2eaf5;
	color:#000;
}

.sub4Background
{
	background:#b9c8eb;
	color:#000;
}

.sub5Background
{
	background:#acdee6;
	color:#000;
}

.sub6Background
{
	background:#b8d4f0;
	color:#000;
}

.grandBackground
{
	background:#b8d4f0;
	color:#000;
}

.stripe tr:hover
{
	background:#ffffb3;
	color:#230100;
	font:normal 8pt verdana;
}

.stripe tr:hover td
{
	border:1px solid #DFDFDF;
	color:#230100;
	font:normal 8pt verdana;
}

A:link
{
	background:transparent;
	color:#000;
	text-decoration:underline;
}

A:visited
{
	background:transparent;
	color:#000;
	text-decoration:underline;
}

A:hover
{
	background:transparent;
	color:#000;
	text-decoration:underline;
}

A:active
{
	background:transparent;
	color:#000;
	text-decoration:underline;
}

A.nav:link
{
	background:transparent;
	color:#000;
	text-decoration:none;
}

A.nav:visited
{
	background:transparent;
	color:#000;
	text-decoration:none;
}

A.nav:hover
{
	background:transparent;
	color:#000;
	text-decoration:none;
}

A.nav:active
{
	background:transparent;
	color:#000;
	text-decoration:none;
}

A.hover:link
{
	background:transparent;
	border-bottom:1px dotted #105594;
	color:#000;
	text-decoration:none;
}

A.hover:visited
{
	background:transparent;
	border-bottom:1px dotted #105594;
	color:#000;
	text-decoration:none;
}

A.hover:hover
{
	background:transparent;
	border-bottom:1px dotted #105594;
	color:#000;
	text-decoration:none;
}

A.hover:active
{
	background:transparent;
	border-bottom:1px dotted #105594;
	color:#000;
	text-decoration:none;
}

h1
{
	color:#000;
	font:bold 18pt Arial;
	text-align:center;
}

.title,.title_center
{
	background:transparent;
	color:#000;
	font:normal 18px verdana;
	margin:5px auto;
	padding:5px 5px 5px 10px;
	text-align:left;
}

.title_center
{
	text-align:center;
}

.footline
{
	background:#055282;
	color:#fff;
	font-size:1px;
	height:1px;
	text-align:left;
}

.foottext
{
	color:#000;
	font-family:verdana;
	font-size:10px;
}

form
{
	margin:0;
	padding:0;
}

.collapse
{
	border:1px solid #DFDFDF;
	border-collapse:collapse;
	border-top:2px solid #DFDFDF \0/;
}

table.collapse
{
	margin-top:5px;
}

.collapse_report
{
	border-collapse:collapse;
}

.text
{
	font-family:verdana;
	font-size:10pt;
}

.drop
{
	font-family:verdana;
	font-size:10pt;
}

.disabled
{
	cursor:default;
}

.radio
{
	background:transparent;
	font-family:verdana;
	font-size:8pt;
}

.button1
{
	background:#cfcfcf;
	color:#000;
	font-size:8pt;
}

.filter
{
	background:url(/mrcjava/image/silver/filter.png) no-repeat 0 0;
	height:27px;
	padding-left:0;
	text-align:center;
	width:110px;
}

.run
{
	background:url(/mrcjava/image/silver/run.png) no-repeat 0 0;
	height:27px;
	padding-left:28px;
	text-align:left;
	width:113px;
}

.accept
{
	background:url(/mrcjava/image/silver/acceptbutton.png) no-repeat 0 0;
	height:27px;
	padding-left:0;
	text-align:center;
	width:113px;
}

.go
{
	background:url(/mrcjava/image/silver/gobutton.png) no-repeat 0 0;
	height:28px;
	padding-left:0;
	text-align:center;
	width:71px;
}

.backbutton
{
	background:url(/mrcjava/image/silver/backbutton.png) no-repeat 0 0;
	height:27px;
	padding-left:0;
	text-align:center;
	width:113px;
}

.load_prompt
{
	background:url(/mrcjava/image/silver/reportselections.png) no-repeat 0 0;
	height:27px;
	padding-left:14px;
	text-align:center;
	width:201px;
}

.promote_all_button
{
	background:url(/mrcjava/image/silver/blank_170.png) no-repeat 0 0;
	height:25px;
	padding-left:0;
	text-align:center;
	width:171px;
}

.check_all_references_button
{
	background:url(/mrcjava/image/silver/blank_210.png) no-repeat 0 0;
	height:25px;
	padding-left:0;
	text-align:center;
	width:211px;
}

.promote_cart_button
{
	background:url(/mrcjava/image/silver/blank_210.png) no-repeat 0 0;
	height:25px;
	padding-left:0;
	text-align:center;
	width:211px;
}

.filter,.run,.accept,.go,.backbutton,.load_prompt,.check_all_references_button,.promote_cart_button,.promote_all_button
{
	background-color:transparent;
	border:none;
	color:#000;
	cursor:pointer;
	font:normal bold 11px/2em Arial, Helvetica, sans-serif;
	margin:0 auto;
	padding-bottom:0;
	text-decoration:none;
}

input.radio
{
	background:transparent;
	color:#000;
	font:8pt verdana;
}

input.mrcinput
{
	background:#fff;
	color:#000;
	font:8pt verdana;
}

select.mrcselect
{
	background:#fff;
	color:#000;
	font:8pt verdana;
}

.cal_label
{
	background:#fff;
	color:#000;
	font:bold 8pt verdana;
	text-align:left;
	vertical-align:top;
}

.cal_label_other
{
	background:#fff;
	color:#999;
	font:bold 8pt verdana;
	text-align:left;
	vertical-align:top;
}

.cal_event
{
	background:#E8EEF7;
	color:#000;
	font:8pt verdana;
	vertical-align:top;
}

.cal_today
{
	background:#114768;
	color:#fff;
	font:bold 8pt verdana;
	vertical-align:middle;
}

.cal_day
{
	background:#fff;
	border-bottom:1px solid #cfcfcf;
	border-right:1px solid #cfcfcf;
	color:#000;
	font:8pt verdana;
	text-align:left;
	vertical-align:top;
}

.errortext
{
	color:red;
	font-family:verdana, helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
}

.errortext1,.errortext1_center
{
	color:red;
	font-family:verdana;
	font-size:14px;
	text-align:left;
}

.errortext1_center
{
	text-align:center;
}

div.ajaxboxclass
{
	background-color:#fff;
	border:1px solid #aaa;
	overflow:hidden;
	padding:0;
	width:auto;
	z-index:1;
}

.shadow
{
	-moz-box-shadow:7px 7px 10px #A8A8A8;
	-webkit-box-shadow:7px 7px 10px #A8A8A8;
	box-shadow:7px 7px 10px #A8A8A8;
	margin-bottom:10px;
}

.tfoot th
{
	border-top:1px solid #DFDFDF;
	padding:3px 3px 3px 10px;
}

.table_header_bottom
{
	border-bottom:1px solid #959595;
}

th.paging_row
{
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff');
	font-weight:400;
	padding:3px 0;
}

th.paging_row img,th.paging_row span,th.paging_row input,th.paging_row select,th.paging_row a img
{
	vertical-align:middle;
}

.add_link
{
	display:inline;
}

.ajax_content
{
	font:9pt verdana;
	margin-left:10px;
}

.ajax_content_center
{
	border:none;
	display:block;
	text-align:center;
}

.ajax_content_cal
{
	display:block;
	margin-right:10px;
}

.centered_table
{
	margin:0;
}

.sort_image
{
	cursor:pointer;
}

#applicationOptions .two
{
	padding:0;
}

.selections
{
	background:url(/mrcjava/image/silver/selections.png) no-repeat 0 0;
	height:27px;
	padding-left:12px;
	text-align:center;
	width:110px;
}